Repository rjroy/memory-loop: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, shared

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 80%

flags:
  backend:
    paths: [backend/src/]
    carryforward: true
  frontend:
    paths: [frontend/src/]
    carryforward: true
  shared:
    paths: [shared/src/]
    carryforward: true

comment:
  layout: "header, diff, flags, files"
  require_changes: true

fix: use explicit 50% coverage target instead of auto
  codecov.yml
Due: none

fix: link flags to project and patch status checks
  codecov.yml
Due: none

fix: use glob patterns for codecov flag paths
  codecov.yml
Due: none

fix: simplify codecov config by removing flags
  codecov.yml
Due: none

fix: correct YAML indentation for shared flag carryforward
  codecov.yml
Due: none

fix: enforce stricter coverage checks in CI (#320)
  .github/workflows/ci.yml
  codecov.yml
Due: none

fix: upload coverage files separately with flags
  .github/workflows/ci.yml
  codecov.yml
Due: none

fix: upload coverage files separately with flags (#321)
  .github/workflows/ci.yml
  codecov.yml
Due: none

fix: add paths to codecov flags for proper coverage isolation
  codecov.yml
Due: none

fix: add paths to codecov flags for proper coverage isolation (#322)
  codecov.yml
Due: none

feat: enable "Think about" context menu for directories
  frontend/src/components/FileTree.tsx
  frontend/src/components/__tests__/FileTree.test.tsx
Due: frontend

feat: enable "Think about" context menu for directories (#324)
  frontend/src/components/FileTree.tsx
  frontend/src/components/__tests__/FileTree.test.tsx
Due: frontend

feat: add archive functionality for chats, projects, and areas (#323)
  backend/src/__tests__/file-browser.test.ts
  backend/src/file-browser.ts
  backend/src/handlers/browser-handlers.ts
  backend/src/websocket-handler.ts
  frontend/src/components/BrowseMode.tsx
  frontend/src/components/FileTree.tsx
  shared/src/protocol.ts
Due: backend, frontend, shared

test: add frontend tests for archive functionality
  frontend/src/components/__tests__/BrowseMode.test.tsx
  frontend/src/components/__tests__/FileTree.test.tsx
Due: frontend

feat: add archive functionality for chats, projects, and areas (#325)
  backend/src/__tests__/file-browser.test.ts
  backend/src/file-browser.ts
  backend/src/handlers/browser-handlers.ts
  backend/src/websocket-handler.ts
  frontend/src/components/BrowseMode.tsx
  frontend/src/components/FileTree.tsx
  frontend/src/components/__tests__/BrowseMode.test.tsx
  frontend/src/components/__tests__/FileTree.test.tsx
  shared/src/protocol.ts
Due: backend, frontend, shared

fix: remove lcov dependency from test:coverage script
  backend/package.json
Due: none

refactor: replace mock.module() with dependency injection for test isolation
  backend/package.json
  backend/src/__tests__/session-manager.test.ts
  backend/src/__tests__/sync-integration.test.ts
  backend/src/__tests__/websocket-handler.test.ts
  backend/src/handlers/__tests__/sync-handlers.test.ts
  backend/src/handlers/sync-handlers.ts
  backend/src/session-manager.ts
  backend/src/sync/__tests__/sync-pipeline.test.ts
  backend/src/sync/sync-pipeline.ts
  backend/src/websocket-handler.ts
  backend/src/widgets/__tests__/file-watcher.test.ts
  backend/src/widgets/file-watcher.ts
  frontend/package.json
  package.json
  shared/package.json
Due: backend

refactor: complete DI for handler modules, simplify test scripts
  backend/package.json
  backend/src/__tests__/websocket-handler.test.ts
  backend/src/handlers/__tests__/sync-handlers.test.ts
  backend/src/handlers/browser-handlers.ts
  backend/src/handlers/home-handlers.ts
  backend/src/handlers/types.ts
  backend/src/handlers/widget-handlers.ts
  backend/src/websocket-handler.ts
Due: backend

feat: add archive functionality for chats, projects, and areas (#325)
  backend/src/__tests__/websocket-handler.test.ts
  backend/src/handlers/__tests__/sync-handlers.test.ts
  backend/src/handlers/browser-handlers.ts
  backend/src/handlers/types.ts
  backend/src/websocket-handler.ts
Due: backend

refactor: complete DI for handler modules, simplify test scripts
  coverage-report/amber.png
  coverage-report/cmd_line
  coverage-report/emerald.png
  coverage-report/gcov.css
  coverage-report/glass.png
  coverage-report/ruby.png
  coverage-report/snow.png
  coverage-report/updown.png
Due: none

refactor: eliminate mock.module() with DI, simplify test scripts (#326)
  backend/package.json
  backend/src/__tests__/session-manager.test.ts
  backend/src/__tests__/sync-integration.test.ts
  backend/src/__tests__/websocket-handler.test.ts
  backend/src/handlers/__tests__/sync-handlers.test.ts
  backend/src/handlers/browser-handlers.ts
  backend/src/handlers/home-handlers.ts
  backend/src/handlers/sync-handlers.ts
  backend/src/handlers/types.ts
  backend/src/handlers/widget-handlers.ts
  backend/src/session-manager.ts
  backend/src/sync/__tests__/sync-pipeline.test.ts
  backend/src/sync/sync-pipeline.ts
  backend/src/websocket-handler.ts
  backend/src/widgets/__tests__/file-watcher.test.ts
  backend/src/widgets/file-watcher.ts
  coverage-report/amber.png
  coverage-report/cmd_line
  coverage-report/emerald.png
  coverage-report/gcov.css
  coverage-report/glass.png
  coverage-report/ruby.png
  coverage-report/snow.png
  coverage-report/updown.png
  frontend/package.json
  package.json
  shared/package.json
Due: backend

fix: reorder and enhance badge display in README for better visibility
  README.md
Due: none

remove coverage-report
  coverage-report/amber.png
  coverage-report/cmd_line
  coverage-report/emerald.png
  coverage-report/gcov.css
  coverage-report/glass.png
  coverage-report/ruby.png
  coverage-report/snow.png
  coverage-report/updown.png
Due: none

fix: reorder and enhance badge display in README for better visibility (#327)
  README.md
  coverage-report/amber.png
  coverage-report/cmd_line
  coverage-report/emerald.png
  coverage-report/gcov.css
  coverage-report/glass.png
  coverage-report/ruby.png
  coverage-report/snow.png
  coverage-report/updown.png
Due: none

feat: add directory creation from FileTree context menu (#328)
  backend/src/__tests__/file-browser.test.ts
  backend/src/file-browser.ts
  backend/src/handlers/__tests__/sync-handlers.test.ts
  backend/src/handlers/browser-handlers.ts
  backend/src/handlers/types.ts
  backend/src/websocket-handler.ts
  frontend/src/components/BrowseMode.tsx
  frontend/src/components/FileTree.tsx
  frontend/src/components/InputDialog.css
  frontend/src/components/InputDialog.tsx
  shared/src/__tests__/protocol.test.ts
  shared/src/protocol.ts
Due: backend, frontend, shared

test: add comprehensive tests for directory creation feature (#328)
  backend/src/handlers/__tests__/browser-handlers.test.ts
  frontend/src/components/__tests__/BrowseMode.test.tsx
  frontend/src/components/__tests__/FileTree.test.tsx
  frontend/src/components/__tests__/InputDialog.test.tsx
Due: backend, frontend

feat: add directory creation from FileTree context menu (#333)
  backend/src/__tests__/file-browser.test.ts
  backend/src/file-browser.ts
  backend/src/handlers/__tests__/browser-handlers.test.ts
  backend/src/handlers/__tests__/sync-handlers.test.ts
  backend/src/handlers/browser-handlers.ts
  backend/src/handlers/types.ts
  backend/src/websocket-handler.ts
  frontend/src/components/BrowseMode.tsx
  frontend/src/components/FileTree.tsx
  frontend/src/components/InputDialog.css
  frontend/src/components/InputDialog.tsx
  frontend/src/components/__tests__/BrowseMode.test.tsx
  frontend/src/components/__tests__/FileTree.test.tsx
  frontend/src/components/__tests__/InputDialog.test.tsx
  shared/src/__tests__/protocol.test.ts
  shared/src/protocol.ts
Due: backend, frontend, shared

fix: add overflow-x hidden to VaultSelect for better layout handling
  frontend/src/components/VaultSelect.css
Due: frontend

feat: add file creation from FileTree context menu (#332)
  backend/src/__tests__/file-browser.test.ts
  backend/src/file-browser.ts
  backend/src/handlers/__tests__/browser-handlers.test.ts
  backend/src/handlers/__tests__/sync-handlers.test.ts
  backend/src/handlers/browser-handlers.ts
  backend/src/handlers/types.ts
  backend/src/websocket-handler.ts
  frontend/src/components/BrowseMode.tsx
  frontend/src/components/FileTree.tsx
  shared/src/protocol.ts
Due: backend, frontend, shared

feat: add file creation from FileTree context menu (#332) (#336)
  backend/src/__tests__/file-browser.test.ts
  backend/src/file-browser.ts
  backend/src/handlers/__tests__/browser-handlers.test.ts
  backend/src/handlers/__tests__/sync-handlers.test.ts
  backend/src/handlers/browser-handlers.ts
  backend/src/handlers/types.ts
  backend/src/websocket-handler.ts
  frontend/src/components/BrowseMode.tsx
  frontend/src/components/FileTree.tsx
  shared/src/protocol.ts
Due: backend, frontend, shared

fix: add overflow-x hidden to VaultSelect for better layout handling (#334)
  frontend/src/components/VaultSelect.css
Due: frontend

feat: make VAULTS_DIR optional with default to ./vaults
  .env.example
  .gitignore
  CLAUDE.md
  README.md
  backend/src/__tests__/server.test.ts
  backend/src/__tests__/vault-manager.test.ts
  backend/src/vault-manager.ts
  scripts/launch.sh
Due: backend

feat: make VAULTS_DIR optional with default to ./vaults (#337)
  .env.example
  .gitignore
  CLAUDE.md
  README.md
  backend/src/__tests__/server.test.ts
  backend/src/__tests__/vault-manager.test.ts
  backend/src/vault-manager.ts
  scripts/launch.sh
Due: backend

feat: record and display turn duration for assistant messages (#286)
  backend/src/websocket-handler.ts
  frontend/src/components/MessageBubble.css
  frontend/src/components/MessageBubble.tsx
  frontend/src/components/__tests__/MessageBubble.test.tsx
  frontend/src/contexts/session/types.ts
  shared/src/protocol.ts
  shared/src/types.ts
Due: backend, frontend, shared

feat: record and display turn duration for assistant messages (#286) (#339)
  backend/src/websocket-handler.ts
  frontend/src/components/MessageBubble.css
  frontend/src/components/MessageBubble.tsx
  frontend/src/components/__tests__/MessageBubble.test.tsx
  frontend/src/contexts/session/types.ts
  shared/src/protocol.ts
  shared/src/types.ts
Due: backend, frontend, shared

feat: add rename file/directory option to FileTree context menu (#329)
  backend/src/__tests__/file-browser.test.ts
  backend/src/__tests__/reference-updater.test.ts
  backend/src/file-browser.ts
  backend/src/handlers/__tests__/browser-handlers.test.ts
  backend/src/handlers/__tests__/sync-handlers.test.ts
  backend/src/handlers/browser-handlers.ts
  backend/src/handlers/types.ts
  backend/src/reference-updater.ts
  backend/src/websocket-handler.ts
  frontend/src/components/BrowseMode.tsx
  frontend/src/components/FileTree.tsx
  shared/src/protocol.ts
Due: backend, frontend, shared

test: add test coverage for rename file handler and BrowseMode
  backend/src/handlers/__tests__/browser-handlers.test.ts
  frontend/src/components/__tests__/BrowseMode.rename.test.tsx
Due: backend, frontend

feat: add rename file/directory option to FileTree context menu (#338)
  backend/src/__tests__/file-browser.test.ts
  backend/src/__tests__/reference-updater.test.ts
  backend/src/file-browser.ts
  backend/src/handlers/__tests__/browser-handlers.test.ts
  backend/src/handlers/__tests__/sync-handlers.test.ts
  backend/src/handlers/browser-handlers.ts
  backend/src/handlers/types.ts
  backend/src/reference-updater.ts
  backend/src/websocket-handler.ts
  frontend/src/components/BrowseMode.tsx
  frontend/src/components/FileTree.tsx
  frontend/src/components/__tests__/BrowseMode.rename.test.tsx
  shared/src/protocol.ts
Due: backend, frontend, shared

feat: add move file/directory option to FileTree context menu (#330)
  backend/src/__tests__/file-browser.test.ts
  backend/src/file-browser.ts
  backend/src/handlers/__tests__/browser-handlers.test.ts
  backend/src/handlers/__tests__/sync-handlers.test.ts
  backend/src/handlers/browser-handlers.ts
  backend/src/handlers/types.ts
  backend/src/websocket-handler.ts
  frontend/src/components/BrowseMode.tsx
  frontend/src/components/FileTree.tsx
  frontend/src/components/MoveDialog.css
  frontend/src/components/MoveDialog.tsx
  frontend/src/components/__tests__/MoveDialog.test.tsx
  shared/src/protocol.ts
Due: backend, frontend, shared

feat: add move file/directory option to FileTree context menu (#330) (#343)
  backend/src/__tests__/file-browser.test.ts
  backend/src/file-browser.ts
  backend/src/handlers/__tests__/browser-handlers.test.ts
  backend/src/handlers/__tests__/sync-handlers.test.ts
  backend/src/handlers/browser-handlers.ts
  backend/src/handlers/types.ts
  backend/src/websocket-handler.ts
  frontend/src/components/BrowseMode.tsx
  frontend/src/components/FileTree.tsx
  frontend/src/components/MoveDialog.css
  frontend/src/components/MoveDialog.tsx
  frontend/src/components/__tests__/MoveDialog.test.tsx
  shared/src/protocol.ts
Due: backend, frontend, shared
